Repository na4zagin3/satyrographos, pull requests merged in 2020-11, with the labels that each got.

#211 Refactor BuildScript.read_module
  src/buildScript_0_0_2.ml
  src/buildScript_0_0_3.ml
  src/buildScript_prim.ml
Labels: refactoring

#215 Add problem classes for squelch warnings/errors
  bin/commandLint.ml
  dune-project
  satyrographos.opam
  src/command/lint.ml
  src/command/lint_module_dependency.ml
  src/command/lint_module_dependency.mli
  src/command/lint_module_opam.ml
  src/command/lint_module_opam.mli
  src/command/lint_prim.ml
  src/command/lint_problem.ml
  src/dune
  src/glob.ml
  src/glob_lexer.mll
  src/glob_parser.mly
  src/glob_tokens.mly
  src/template/templateFonts.ml
  test/testcases/command_lint__compatibility_satyrographos_0_0_1.expected
  test/testcases/command_lint__cyclic_dependencies.expected
  test/testcases/command_lint__insufficient_dependencies.expected
  test/testcases/command_lint__insufficient_dependencies_for_some_modes.expected
  test/testcases/command_lint__invalid_opam_file.expected
  test/testcases/command_lint__missing_dependencies.expected
  test/testcases/command_lint__missing_file.expected
  test/testcases/command_lint__unmatched_names.expected
  test/testcases/command_lint__unmatched_versions.expected
  test/testcases/command_lint__warning_expr.expected
  test/testcases/command_lint__warning_expr.ml
  test/testcases/dune
  test/testlib/testCommand.ml
Labels: subcommand: lint

#216 Add migrate subcommand
  bin/commandMigrate.ml
  bin/dune
  bin/main.ml
  src/buildScript.ml
  src/buildScript_0_0_2.ml
  src/buildScript_0_0_3.ml
  src/buildScript_prim.ml
  src/command/build.ml
  src/command/migrate.ml
  test/testcases/command_migrate__build_0_0_2.t
Labels: build script

#217 Add (run ...) build command to LibraryDoc and Doc modules
  src/buildScript.ml
  src/buildScript_0_0_3.ml
  src/buildScript_prim.ml
  src/command/build.ml
  src/command/lint.ml
  src/command/lint_problem.ml
  src/command/migrate.ml
  src/template/templateDocMakeEn.ml
Labels: build script

#219 Run lint on templates
  src/template/template.ml
  src/template/template_docMake_en.ml
  src/template/template_docMake_ja.ml
  src/template/template_fonts.ml
  src/template/template_lib.ml
  test/testcases/command_new__doc_make.t
  test/testcases/command_new__lib.t
Labels: templates

#220 Have get_current_version return None when SATySFi is not installed
  src/satysfi/version.ml
Labels: subcommand: lint

#221 Stop running CI on Mac
  .travis.yml
Labels: ci

#222 Move SystemFontLibrary to Autogen.FontsSystem
  bin/commandSatysfi.ml
  src/autogen/fontsSystem.ml
  src/command/install.ml
Labels: autogen, refactoring

#223 Add doc-omake@en and doc-omake@ja templates
  src/template/template.ml
  src/template/template_docOmake_en.ml
  src/template/template_docOmake_ja.ml
  test/testcases/command_new__doc_omake.t
Labels: templates

#224 Generate hash from (font ...) source item
  src/buildScript_0_0_3.ml
  src/buildScript_prim.ml
  src/library.ml
  src/library.mli
  test/testcases/command_build__doc_with_libraries.ml
  test/testcases/command_migrate__build_0_0_2.t
  test/testcases/command_opam_install__duplicated_font_hash.expected
  test/testcases/command_opam_install__duplicated_font_hash.ml
  test/testcases/command_opam_install__font_hash.expected
  test/testcases/command_opam_install__font_hash.ml
  test/testcases/dune
Labels: build script

#225 Add lockdown subcommand to save/restore OPAM package dependencies
  bin/commandLockdown.ml
  bin/dune
  bin/main.ml
  satyrographos.opam
  src/buildScript_prim.ml
  src/command/dune
  src/command/lockdown.ml
  src/lockdown/dune
  src/lockdown/lockdown.ml
  src/lockdown/lockdownFile.ml
  src/lockdown/opamDependencies.ml
  src/lockdown/yamlYojson.ml
  test/testcases/command_lockdown_restore__opam.expected
  test/testcases/command_lockdown_restore__opam.ml
  test/testcases/command_lockdown_save__invalid_opam_response.expected
  test/testcases/command_lockdown_save__invalid_opam_response.ml
  test/testcases/command_lockdown_save__opam.expected
  test/testcases/command_lockdown_save__opam.ml
  test/testcases/dune
  test/testlib/prepareBin.ml
  test/testlib/testLib.ml
  test/testlib/testLib.mli
Labels: subcommand: lint

#226 Add (omake ...) build rule
  src/buildScript_0_0_2.ml
  src/buildScript_0_0_3.ml
  src/buildScript_prim.ml
  src/command/build.ml
  src/command/lint.ml
  src/command/lint_problem.ml
  src/template/template_docMake_en.ml
  src/template/template_docMake_ja.ml
  src/template/template_docOmake_en.ml
  src/template/template_docOmake_ja.ml
  test/testcases/command_build__doc_make.expected
  test/testcases/command_build__doc_make.ml
  test/testcases/command_build__doc_satysfi.expected
  test/testcases/command_build__doc_satysfi.ml
  test/testcases/command_build__doc_with_libraries.expected
  test/testcases/command_build__doc_with_libraries.ml
Labels: build script

#228 Store autogen results in the lockfile
  bin/commandInstall.ml
  src/autogen/autogen.ml
  src/autogen/dune
  src/autogen/fonts.ml
  src/autogen/libraries.ml
  src/autogen/today.ml
  src/command/build.ml
  src/command/install.ml
  src/command/lint_module_dependency.ml
  src/command/lockdown.ml
  src/command/runSatysfi.ml
  src/lockdown/dune
  src/lockdown/lockdown.ml
  src/lockdown/lockdownFile.ml
  src/lockdown/yamlYojson.ml
  test/testcases/command_install__distWithBrokenHash.ml
  test/testcases/command_install__distWithNonHashUnderHashDir.ml
  test/testcases/command_install__emptyDist.ml
  test/testcases/command_install__missingDist.ml
  test/testcases/command_install__onlyDist.ml
  test/testcases/command_install__thirdParties.ml
  test/testcases/command_install__thirdParties_brokenDependency.ml
  test/testcases/command_install__twoDists.ml
  test/testcases/command_install__unmanagedDirAlreadyExists.ml
  test/testcases/command_install_l__autogen.expected
  test/testcases/command_install_l__autogen.ml
  test/testcases/command_install_l__dependent.ml
  test/testcases/command_install_l__independentTwo.ml
  test/testcases/command_install_l__simple.ml
  test/testcases/command_install_l__thirdParties_brokenDependency.ml
  test/testcases/command_install_l__transitive.ml
  test/testcases/command_lockdown_restore__opam.expected
  test/testcases/command_lockdown_restore__opam.ml
  test/testcases/command_lockdown_save__invalid_opam_response.expected
  test/testcases/command_lockdown_save__opam.expected
Labels: subcommand: build

#234 Reject unavailable autogen libraries
  src/autogen/autogen.ml
  src/command/install.ml
  test/testcases/command_install_l__invalid_autogen.expected
  test/testcases/command_install_l__invalid_autogen.ml
  test/testcases/dune
Labels: autogen

#235 Fix a bug which prevents using multiple font sources
  src/library.ml
  test/testcases/command_opam_install__duplicated_font_hash.expected
  test/testcases/command_opam_install__font_hash.expected
  test/testcases/command_opam_install__font_hash.ml
Labels: build script

#239 Rename autogen libraries
  src/autogen/fonts.ml
  src/autogen/fontsSystem.ml
  src/autogen/libraries.ml
  src/autogen/today.ml
  test/testcases/command_build__doc_with_autogen.expected
  test/testcases/command_build__doc_with_autogen.ml
  test/testcases/command_install_l__autogen.expected
  test/testcases/command_install_l__autogen.ml
  test/testcases/command_install_l__invalid_autogen.expected
  test/testcases/command_install_l__invalid_autogen.ml
  test/testcases/command_lint__autogen.ml
  test/testcases/command_lockdown_restore__opam.ml
  test/testcases/command_opam_install__library_depending_autogen.expected
  test/testcases/command_opam_install__library_depending_autogen.ml
  test/testlib/prepareOpamReg.ml
Labels: autogen

#242 Stabilize new subcommand
  README-ja.md
  README.md
  bin/commandNew.ml
  doc/internals.ja.md
  doc/internals.md
  src/template/template_docMake_en.ml
  src/template/template_docMake_ja.ml
  src/template/template_docOmake_en.ml
  src/template/template_docOmake_ja.ml
  test/testcases/command_new__doc_make.t
  test/testcases/command_new__doc_omake.t
  test/testcases/command_new__existing_directory.t
  test/testcases/command_new__invalid_license_option.t
  test/testcases/command_new__invalid_names.t
  test/testcases/command_new__lib.t
Labels: subcommand: new, templates

#243 Stabilize `lint` subcommand
  README-ja.md
  README.md
  bin/commandLint.ml
  doc/lint.md
  test/testcases/command_new__doc_make.t
  test/testcases/command_new__doc_omake.t
  test/testcases/command_new__lib.t
Labels: subcommand: lint

#244 Add a template with autogen libraries
  src/autogen/fonts.ml
  src/autogen/libraries.ml
  src/autogen/today.ml
  src/satysfi/writer.ml
  src/template/template.ml
  src/template/template_exampleAutogen.ml
  test/testcases/command_build__doc_with_autogen.expected
  test/testcases/command_build__doc_with_autogen.ml
  test/testcases/command_install_l__autogen.expected
  test/testcases/command_install_l__autogen.ml
  test/testcases/command_lint__autogen.ml
  test/testcases/command_new__example_autogen.t
  test/testlib/prepareOpamReg.ml
Labels: autogen, subcommand: new

#245 Allow parent references in require/import directives
  src/command/lint_module_dependency.ml
  test/testcases/command_lint__valid_reference_to_parent_dir.expected
  test/testcases/command_lint__valid_reference_to_parent_dir.ml
  test/testcases/dune
Labels: subcommand: lint

#246 Make subgraph_with_mode remove vertices as well as edges
  src/satysfi/dependencyGraph.ml
  src/satysfi/mode.ml
  test/testcases/command_debug_depgraph__subgraph_with_mode.t
  test/testcases/command_lint__insufficient_dependencies_for_some_modes.ml
Labels: subcommand: lint

#252 Run opam reinstall after opam pin add in build command
  src/command/build.ml
  test/testcases/command_build__doc_with_libraries.expected
Labels: subcommand: build

#251 Migrate: Add build section to OPAM files with an empty build section
  src/command/migrate.ml
  test/testcases/command_migrate__build_0_0_2.t
Labels: subcommand: migrate

#255 Add "md" source
  README-ja.md
  README.md
  src/buildScript_0_0_2.ml
  src/buildScript_0_0_3.ml
  src/buildScript_prim.ml
  test/testcases/command_new__example_autogen.t
  test/testcases/command_opam_install__library.expected
  test/testcases/command_opam_install__library.ml
Labels: build script
